.alarm-input-section {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.alarm-input {
  width: 80%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 16px;
}

.alarm-input-hidden {
  visibility: hidden;
}
.alarms {
  padding: 0 16px
}
.alarms__row {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0;
}

.alarm {
  display: flex;
  align-items: center;

}

.delete {
  color: red;
}
