.memo-header {
  display: flex;
  justify-content: space-between;
}

.memo-input-section {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.memo-input {
  width: 90%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 16px;
}

.memo-input-hidden {
  visibility: hidden;
}

.items {
  height: 100%;
  list-style: none;
  padding: 0 16px;
  text-align: center;
}

.item__row {
  margin: 16px 0;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 1px 2px;
  cursor: context-menu;
}

.item__divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 8px 0;
}

.item {
  background-color: transparent;
  margin: 8px;
}

.item-overflow {
  overflow: hidden;
  line-height: 1.2;
  height: 2.4em;
}
