* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.container {
  width: 35vw;
  height: 100vh;
  margin: auto;
  background: linear-gradient(
    to right,
    #3a7bd5,
    #3a6073
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

span {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

span:hover {
  color: #6a00ff;
}

.link-container {
  text-align: center;
}

.link-box {
  padding: 20px 0px 20px 0px;
  display: inline-block;
  width: 170px;
  height: 50px;
  text-align: center;
}

/* .page {
  width: 50%;
  margin: 0 auto;
  height: 30vh;
  border: 1px solid #4b4b4b;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.nav-bar {
  text-align: center;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.app-container {
  display: flex;
  margin: 30px;
}

.app {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  margin: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.app:hover {
  opacity: 70%;
}
