* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

button {
  border-style: none;
  border-radius: 8px;
  padding: 8px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  opacity: 70%;
}

.container {
  width: 35vw;
  height: 100vh;
  margin: auto;
  background: linear-gradient(
    to right,
    #3a7bd5,
    #3a6073
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-bar {
  text-align: center;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.app-container {
  display: flex;
  margin: 30px;
}

.app {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  margin: 15px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.app:hover {
  opacity: 70%;
}

.back {
  /* cursor: pointer; */
}

