<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alarm</title>
  </head>
  <body>
    <div class="app-header">
      <button class="back" onclick="location.href = '#home'">&lt; BACK</button>
      <button class="new">NEW</button>
    </div>
    <div class="alarm-input-section alarm-input-hidden">
      <input type="time" step="600" class="alarm-input" />
      <button class="save">저장</button>
    </div>
    <ul class="alarms">
      <li class="alarms__row">
        <div class="alarm">08:20</div>
        <button class="delete">삭제</button>
      </li>
      <li class="alarms__row">
        <div class="alarm">08:20</div>
        <button class="delete">삭제</button>
      </li>
      <li class="alarms__row">
        <div class="alarm">08:20</div>
        <button class="delete">삭제</button>
      </li>
      <li class="alarms__row">
        <div class="alarm">08:20</div>
        <button class="delete">삭제</button>
      </li>
    </ul>
  </body>
</html>