<div class="app-container">
  <div class="app" OnClick="location.href ='#alarm'">알람</div>
  <div class="app" OnClick="location.href ='#memo'">메모</div>
  <div class="app" OnClick="location.href ='#photo'">사진</div>
</div>