<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app-header">
      <button class="back" onclick="location.href = '#home'">&lt; BACK</button>
      <button class="new">NEW</button>
    </div>
    <div class="memo-input-section">
      <input type="text" class="memo-input memo-input-hidden" />
    </div>
    <ul class="items">
      {{!-- <li class="item__row">
        <div class="item">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</div>
        <div class="item__divider"></div>
      </li>
      <li class="item__row">
        <div class="item">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</div>
        <div class="item__divider"></div>
      </li>
      <li class="item__row">
        <div class="item">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</div>
        <div class="item__divider"></div>
      </li> --}}
    </ul>
  </body>
</html>