<div class="memo-header">
  <button class="back" onclick="location.href = '#home'">BACK</button>
  <button class="new">NEW</button>
</div>
<input type="text" />
<ul class="items">
  <li class="item__row">
    <div class="item">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.</div>
    <div class="item__divider"></div>
  </li>
  <li class="item__row">
    <div class="item">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.</div>
    <div class="item__divider"></div>
  </li>
  <li class="item__row">
    <div class="item">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.</div>
    <div class="item__divider"></div>
  </li>
</ul>