<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app-header">
      <button class="back" onclick="location.href = '#home'">&lt; BACK</button>
      <button class="new">NEW</button>
    </div>
    <div class="memo-input-section">
      <input type="text" class="memo-input memo-input-hidden" />
    </div>
    <ul class="items">
    </ul>
  </body>
</html>